<h1 id="pagehead">Site#show</h1>
<p>Find me in app/views/site/show.html.erb</p>

<p>
  Caltech is committed to reducing its greenhouse gas emissions to
  1990 levels by the year 2020.  This reduction goal represents an
  aggressive commitment to reduce our carbon footprint while
  continuing our investment in research efforts that address some of
  the most pressing challenges of society, including the problems of
  energy use and GHG emissions.
</p>

<p>
  Caltech utilized the Clean Air-Cool Planet (CACP) greenhouse gas
  emissions calculator to compile its emissions footprint.  The CACP
  model was chosen since it was designed to model university
  emissions, has been widely used by other universities and is
  endorsed by the Association for the Advancement of Sustainability in
  Higher Education (AASHE).
</p>

<p>
  Emission sources from the core campus in Pasadena, California that were included in the inventory were:
</p>
  <ul>
    <li>Scope 1: on-campus power generation, stationary source combustion, fleet vehicle emissions, refrigerants and chemicals</li>
    <li>Scope 2: purchased power from Pasadena Water & Power</li>
    <li>Scope 3: faculty, staff and student commuting, Institute sponsored air travel, solid waste and electricity transmission and distribution losses.</li>
  </ul>

<p>
  Caltech utilized the Clean Air-Cool Planet (CACP) greenhouse gas
  emissions calculator to compile its emissions footprint.  
</p>
  <blockquote>
    The CACP model was chosen since it was designed to model
    university emissions, has been widely used by other universities
    and is endorsed by the Association for the Advancement of
    Sustainability in Higher Education (AASHE).
  </blockquote>
