      <footer id="page_footer">
	     <%= image_tag("logo_small.jpg", :id => "logo_small", :alt => "Small Caltech logo") %> 
		<p>
		  California Institute of Technology - Caltech Test<br />
		  1200 E California Blvd, Pasadena CA 91125<br />
		</p>
      </footer>
