    <nav>
      <ul>
	<li class="nav_1">one</li>
	<li class="nav_1">one</li>
	<li>
	  <ul>
	    <li class="nav_2">one</li>
	    <li class="nav_2">one</li>
	  </ul>
	</li>
	<li class="nav_1">one</li>
      </ul>
    </nav>
